<%# Username %>
<div class="input-group mb-3">
  <span class="input-group-text">Username</span>
  <input type="text" name="id" class="form-control" placeholder="@example123" aria-label="Username">
</div>

<%# Title %>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Title</span>
  <input type="text" name="title" class="form-control" placeholder="Enter the title of your post." aria-label="Username" aria-describedby="basic-addon1">
</div>

  <%# Textbox %>
<b>Write Your Post Here</b>
<div class="input-group">
  <textarea name="textarea" class="form-control textarea" aria-label="With textarea"></textarea>
</div>

<%# Button %>
<div class="input-group"> 
<input class="btn btn-outline-secondary" type="submit" id="button-addon1"></button>
  </div>