<%- include("partials/header.ejs")%>

<div class="container">
        <form action="/edit1" method="post">

          <%- include("partials/create.ejs")%>
              
          </form>
</div>  
<%- include("partials/footer.ejs")%>